@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Pirata+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Maps&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: lightblue;
}

.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

.menu-line a {
    text-transform: uppercase;
    color: #0a3641;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;
}

svg {
    width: 30px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: transform .5s;
}

.menu {
    display: flex;
}

.menu-line {
    display: flex;
    width: 900px;
    justify-content: space-evenly;
    text-transform: uppercase;
    color: #0a3641;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;
}

header .icon-cart {
    position: relative;
    cursor: pointer;
}

header .icon-cart span {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #8b0000;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    right: -20px;
}

.main-heading {
    display: flex;
}

.heading-container {
    display: flex;
    width: 900px;
    justify-content: space-evenly;
}

.main-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid #0a3641;
    object-fit: cover;
}

.main-title h1 {
    padding: 20px;
    margin: 0;
    font-weight: 700;
}

.main-info button {
    background-color: #0a3641;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 20px 20px #000);
    border-radius: 20px;
    height: 50%;
    object-fit: cover;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #739db1;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-size: large;
}

.listProduct .item button {
    background-color: #0a3641;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.cartTab {
    width: 450px;
    background-color: #739db1;
    color: #fff;
    position: fixed;
    inset: 0 -450px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 74px;
    transition: .5s;
    z-index: 999;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

body.showCart .container, body.showCart header {
    transform: translateX(-250px);
}

.product-title {
    font-size: x-large;
    font-weight: 500;
    text-align: left;
    margin-top: 50px;
    font-style: italic;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 500;
}

.empty-cart-message {
    padding: 20px;
    margin: 0;
    font-weight: 500;
}

.cartTab .btn {
    display: flex;
    justify-content: space-between; /* Ensure even space between elements */
    align-items: center;
    text-align: center;
    background-color: #0a3641;
    border: 2px solid #fff; /* Optional: Add border */
    border-radius: 8px; /* Optional: rounded corners */
    height: 70px;
    padding: 0 20px; /* Padding inside the button container */
    position: relative; /* Required for the split line */
}

.cartTab .btn p, .cartTab .btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    display: flex; /* Make the elements flex items */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    flex-grow: 1; /* Allow the buttons to grow and take equal space */
    margin: 0; /* Remove default margin */
    text-align: center;
    min-width: 50%; /* Ensure each button takes up at least 50% of the space */
}

/* Add a split line in the middle */
.cartTab .btn::before {
    content: '';
    position: absolute;
    top: 10px; /* Adjust the line's vertical positioning */
    bottom: 10px; /* Ensure the line doesn't touch the top/bottom borders */
    left: 50%; /* Position the line in the middle horizontally */
    width: 2px; /* Line thickness */
    background-color: #fff; /* Line color */
    transform: translateX(-50%);
}

/* 
.cartTab .btn button {
    background-color: #477286;
    border-color: #739db1;
    font-family: poppins;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    width: 100%;
    font-size: 1rem;
}

.cartTab .btn a:link, .cartTab .btn a:visited, .cartTab .btn p {
    background-color: #477286;
    border-color: #739db1;
    font-family: poppins;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  } */

.cartTab .listCart img {
    width: 100%;
    border-radius: 10px;
}

.cartTab .listCart .image {
    padding-left: 10px;
    padding-top: 10px;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 140px 50px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #666;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #fff;
}

.listCart .item:nth-child(odd) {
    background-color: #477286;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

.total {
    text-align: end;
    margin-top: 10px;
    margin-right: 20px;
}

footer {
    color: #fff;
}

footer svg {
    width: 100%;
    margin-bottom: -30px;
}

.follow-container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    display: flex;
}

.follow {
    background-color: #0a3641;
}

.about-info {
    display: flex;
    flex-direction: column;
}

.about-info a {
    color: #fff;
}

.follow-us {
    max-width: 90vw;
    margin: auto;
    padding-bottom: 50px;
    margin-top: 0;
}

.follow-us h2 {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
}

.social-media {
    position: relative;
}

.social-media a {
    color: #fff;
}

.bi--facebook {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131c.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.bi--instagram {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 0C5.829 0 5.556.01 4.703.048C3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7C.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297c.04.852.174 1.433.372 1.942c.205.526.478.972.923 1.417c.444.445.89.719 1.416.923c.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417c.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046c.78.035 1.204.166 1.486.275c.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485c.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598c-.28.11-.704.24-1.485.276c-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598a2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485c-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486c.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276c.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92a.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217a4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334a2.667 2.667 0 0 1 0-5.334'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.bi--threads {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M6.321 6.016c-.27-.18-1.166-.802-1.166-.802c.756-1.081 1.753-1.502 3.132-1.502c.975 0 1.803.327 2.394.948s.928 1.509 1.005 2.644q.492.207.905.484c1.109.745 1.719 1.86 1.719 3.137c0 2.716-2.226 5.075-6.256 5.075C4.594 16 1 13.987 1 7.994C1 2.034 4.482 0 8.044 0C9.69 0 13.55.243 15 5.036l-1.36.353C12.516 1.974 10.163 1.43 8.006 1.43c-3.565 0-5.582 2.171-5.582 6.79c0 4.143 2.254 6.343 5.63 6.343c2.777 0 4.847-1.443 4.847-3.556c0-1.438-1.208-2.127-1.27-2.127c-.236 1.234-.868 3.31-3.644 3.31c-1.618 0-3.013-1.118-3.013-2.582c0-2.09 1.984-2.847 3.55-2.847c.586 0 1.294.04 1.663.114c0-.637-.54-1.728-1.9-1.728c-1.25 0-1.566.405-1.967.868ZM8.716 8.19c-2.04 0-2.304.87-2.304 1.416c0 .878 1.043 1.168 1.6 1.168c1.02 0 2.067-.282 2.232-2.423a6.2 6.2 0 0 0-1.528-.161'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.terms {
    text-align: left;
}

.about-image img {
    width: 400px;
    border-radius: 50%;
    float: right;
}

.rainylogo {
    margin: auto;
    margin-top: 15px;
}

.rainylogo img {
    width: 200px;
    margin: auto;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #0a3641;
    border-top-color: #477286;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }

    .logo img {
        width: 90vw;
    }

    .menu-line {
        width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-image img {
        width: 300px;
    }
}

@media screen and (max-width: 650px) {
    .heading-container {
        flex-direction: column;
    }

    .about-image img {
        width: 80vw;
        float: unset;
    }

    .about-image {
        display: flex;
        justify-content: center;
    }

    .rainylogo {
        display: none;
    }

    .menu-line, .menu-line a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .listProduct {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-image img {
        width: 300px;
        height: 300px;
    }

    .cartTab {
        width: 100%;
        inset: 0 -450px 0 auto;
    }

    .cartTab .listCart .item {
        grid-template-columns: 60px 100px 35px 35px 1fr;
        gap: 8px;
        font-size: 14px;
    }

    .menu-line, .menu-line a {
        font-size: 1rem;
    }
}