:root {
    --background-color: #ADD8E6;
    --primary-color: #0a3641;
    --main-color: #739db1;
    --light-primary-color: #115d70;
    --icon-color: #8b0000;
    --primary-font-color: #000000;
    --secondary-font-color: #ffffff;
    --primary-font: "Poppins", sans-serif;
}